.no-cor>.btn-group>.btn {
    border-radius: 0;
}
.no-cor>.btn-group:first-child>.btn:first-child {
    border-left: 0;
}
.no-cor>.btn-group:last-child>.btn:last-child {
    border-right: 0;
}
/*Caution: Not fullly functional*/
.no-cor>.btn-group:not(:first-child):not(:last-child)>.btn:last-child {
    border-right: 0;
}
.no-cor>.btn-group:not(:first-child):not(:last-child)>.btn:first-child {
    border-left: 0;
}
.panel-info {
    border: 0;
    margin-bottom:4px;
    border-radius:0;
}
.panel-info>.panel-heading {
    border-radius:0;
}
.panel-heading {
    border-top: 1px solid transparent;
}
.panel-info>.panel-footer {
    border:0;
    border-radius:0;
}
.media-left {
    padding-right: 15px;
}
.media-body {
    padding-top: 10px;
}
.panel:last-child { margin-bottom:55px;}